body, #input {
    font-family: monospace;
    font-size: 12px;
    font-weight: bolder;
}
#input {
    border: none;
    outline: none;
    position: fixed;
    top: -10px;
    font-size: 1px;
    padding: 0; margin: 0;
}

#cmdline {
    float: left;
}

#cursor {
    position: relative;
    left: 2px; top: 3px;
    display: inline-block;
    width: 8px; height: 3px;
}
#cursor.on {
    background: currentColor;
}

#wceenv {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: auto; height: auto;
    padding: 10px;
}